@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: rgb(228, 70, 12);

}
section{
    height: 400px;
}

.principalEvent{
    background-image: url("../components/lacalorfondo.png");
    background-position: 69% 70%;
    background-color: rgb(63, 47, 47);
    background-blend-mode: soft-light;
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.sape{
    display: flex;
    height: 100%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    
}

@media screen and (max-width: 768px){

    .principalEvent{
        background-image:   url(../components/lacalorfondo.png);
        height: 40vh;
        width: 178%;
        background-position: 70% 70%;
        display: flex;
        justify-content: center;
        
    }

}